{% include "header.html" %}
	
	<div class="limiter">
		<div class="container-login100" style="background-image: url('https://images.unsplash.com/photo-1611162616475-46b635cb6868?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1567&q=80');">
			<div class="wrap-login100 p-t-30 p-b-50">
				<span class="login100-form-title p-b-41">
					Youtube Video Downloader
				</span>
				<form class="login100-form validate-form p-b-33 p-t-5" method="post">

<!--					<div class="wrap-input100 validate-input" data-validate = "Name">-->
<!--						<input class="input100" type="text" name="username" placeholder="User name">-->
<!--						<span class="focus-input100" data-placeholder="&#xe82a;"></span>-->
<!--					</div>-->

<!--					<div class="wrap-input100 validate-input" data-validate = "Email">-->
<!--						<input class="input100" type="email" name="email" placeholder="User email">-->
<!--						<span class="focus-input100" data-placeholder="&#xe82a;"></span>-->
<!--					</div>-->

					<div class="wrap-input100 validate-input" data-validate="Enter Url">
						<input class="input100" type="url" name="url" placeholder="URL">
						<span class="focus-input100" data-placeholder="&#xe80f;"></span>
					</div>

<!--					<div class="form-group wrap-input100 ">-->
<!--					  <label class="input100" for="sel1">Choose video resolution</label>-->
<!--					  <select class="form-control input100" id="sel1">-->
<!--						<option>360p</option>-->
<!--						<option>460p</option>-->
<!--					  </select>-->
<!--					</div>-->
					<div class="container-login100-form-btn m-t-32">
						<button class="login100-form-btn">
							GO!
						</button>
					</div>

				</form>
			</div>
		</div>
	</div>
	

	<div id="dropDownSelect1"></div>
	
{% include "footer.html" %}