{% include "header.html" %}
<div class="main">
  <h1>{{title}}</h1>
  <ul class="cards">
    {% for i in streams: %}
    <li class="cards_item">
      <div class="card">
        <div class="card_image"><img src="{{img}}"></div>
        <div class="card_content">
          <h2 class="card_title">{{i.resolution}}</h2>
          <p class="card_text">{{i.description}}</p>
          <a class="btn card_btn" href="{{url_for('download',resolution=i.resolution)}}">Download <i class="fas fa-download"></i></a>
        </div>
      </div>
    </li>
    {% endfor %}
<!--    <li class="cards_item">-->
<!--      <div class="card">-->
<!--        <div class="card_image"><img src="{{img}}"></div>-->
<!--        <div class="card_content">-->
<!--          <h2 class="card_title">Card Grid Layout</h2>-->
<!--          <p class="card_text">Demo of pixel perfect pure CSS simple responsive card grid layout</p>-->
<!--          <button class="btn card_btn">Read More</button>-->
<!--        </div>-->
<!--      </div>-->
<!--    </li>-->
<!--    <li class="cards_item">-->
<!--      <div class="card">-->
<!--        <div class="card_image"><img src="{{img}}"></div>-->
<!--        <div class="card_content">-->
<!--          <h2 class="card_title">Card Grid Layout</h2>-->
<!--          <p class="card_text">Demo of pixel perfect pure CSS simple responsive card grid layout</p>-->
<!--          <button class="btn card_btn">Read More</button>-->
<!--        </div>-->
<!--      </div>-->
<!--    </li>-->
<!--    <li class="cards_item">-->
<!--      <div class="card">-->
<!--        <div class="card_image"><img src="https://picsum.photos/500/300/?image=5"></div>-->
<!--        <div class="card_content">-->
<!--          <h2 class="card_title">Card Grid Layout</h2>-->
<!--          <p class="card_text">Demo of pixel perfect pure CSS simple responsive card grid layout</p>-->
<!--          <button class="btn card_btn">Read More</button>-->
<!--        </div>-->
<!--      </div>-->
<!--    </li>-->
<!--    <li class="cards_item">-->
<!--      <div class="card">-->
<!--        <div class="card_image"><img src="https://picsum.photos/500/300/?image=11"></div>-->
<!--        <div class="card_content">-->
<!--          <h2 class="card_title">Card Grid Layout</h2>-->
<!--          <p class="card_text">Demo of pixel perfect pure CSS simple responsive card grid layout</p>-->
<!--          <button class="btn card_btn">Read More</button>-->
<!--        </div>-->
<!--      </div>-->
<!--    </li>-->
<!--    <li class="cards_item">-->
<!--      <div class="card">-->
<!--        <div class="card_image"><img src="https://picsum.photos/500/300/?image=14"></div>-->
<!--        <div class="card_content">-->
<!--          <h2 class="card_title">Card Grid Layout</h2>-->
<!--          <p class="card_text">Demo of pixel perfect pure CSS simple responsive card grid layout</p>-->
<!--          <button class="btn card_btn">Read More</button>-->
<!--        </div>-->
<!--      </div>-->
<!--    </li>-->
<!--    <li class="cards_item">-->
<!--      <div class="card">-->
<!--        <div class="card_image"><img src="https://picsum.photos/500/300/?image=17"></div>-->
<!--        <div class="card_content">-->
<!--          <h2 class="card_title">Card Grid Layout</h2>-->
<!--          <p class="card_text">Demo of pixel perfect pure CSS simple responsive card grid layout</p>-->
<!--          <button class="btn card_btn">Read More</button>-->
<!--        </div>-->
<!--      </div>-->
<!--    </li>-->
<!--    <li class="cards_item">-->
<!--      <div class="card">-->
<!--        <div class="card_image"><img src="https://picsum.photos/500/300/?image=2"></div>-->
<!--        <div class="card_content">-->
<!--          <h2 class="card_title">Card Grid Layout</h2>-->
<!--          <p class="card_text">Demo of pixel perfect pure CSS simple responsive card grid layout</p>-->
<!--          <button class="btn card_btn">Read More</button>-->
<!--        </div>-->
<!--      </div>-->
<!--    </li>-->
  </ul>
</div>


{% include "footer.html" %}